extends layout

block content
  div(class='wrapper')
    div(class='container')
      each result in results
        div(class=['box'])
          p(class=['beer']) #{result.Beer.split(',')[0]}
          p(class=['boldCaps']) tilt | #{result.Color} 
          p(class="solid" style={'background-color': result.Color}) 
          p SG/Concentration: #{result.formattedGravity} (pre-callibrated)
          p(class='gravity') #{result.formattedGravity}
          p(class='solidSmall' style={'background-color': result.Color, width: result.gravityPercent+'%'})
          p Temperature: #{result.temperature} (pre-callibrated)
          p(class='solidSmall' style={'background-color': result.Color, width: result.temperature+'%'})
          p(class='gravity') #{result.temperature}&deg;#{result.temperatureType}
          p(class='footnote') Last reading recevied #{result.duration} ago