doctype html
html
  head
    meta(http-equiv='refresh', content='60')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    div(class='toolbar') Tilt Pi #{demo}
    block content
    div(class='footer') Generated: #{generated}