body {
  background-color: rgb(0, 0, 0); 
  padding: 2px;
  margin: 0px;
  font: 14px Tahoma, Geneva, sans-serif;
  color: #fff;
}

p {
  margin: 5px 0;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.wrapper {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: block;
  margin: 5px; 
  border: 1px solid #757575;
  background-color: #333333;
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  max-height: 335px;
  min-height: 335px;
  height: 335px;
  padding: 5px 5px 5px 5px;
}

.boldCaps {
  text-transform: uppercase;
  font-weight: 800;
}

.solid {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.solidSmall {
  display: block;
  height: 10px;
  margin: 8px 0 5px 0;
}

.toolbar {
  padding: 10px;
  margin: -1px -2px 4px -2px;
  font-size: 22px;
  background-color: #666666;
}

.gravity {
  font-size: 60px;
  font-weight: 800;
  text-indent: .5em;
}

.footnote {
  text-align: center;
  font-size: 10px;
}

.footer {
  text-align: center;
  font-size: 10px;
  color: #363636;
}